<form id="formLogin" autocomplete="off" action="/protected/interaction/<%= uid %>/login" method="post">
  <input
          required
          type="text"
          name="login"
          placeholder="Enter your login"
          value="<%= user %>"
          readonly="readonly"
  >

  <button type="submit" class="login login-submit" autofocus="autofocus">Sign-in</button>
</form>
<script>
  window.addEventListener('load', () => setTimeout(() => document.querySelector("#formLogin").submit(), 1000));
</script>
